{% extends "nav.html" %}

{% block content %}
    <section class="about" style="padding: 50px 0; text-align: center;">
        <h1 style="text-align: center; margin-top: 150px;">เกี่ยวกับบ้านเช่า</h1>
        <p>เรามีบริการบ้านเช่าที่หลากหลายประเภทให้คุณเลือก ตั้งแต่บ้านเดี่ยว บ้านทาวน์เฮ้าส์ ไปจนถึงคอนโด ในทำเลที่สะดวกสบาย และคัดสรรมาเพื่อความต้องการของคุณ</p>
        <p>พันธกิจของเราคือการให้บริการที่มีคุณภาพสูง พร้อมราคาที่เหมาะสม เรามุ่งมั่นที่จะช่วยให้ลูกค้าได้พบที่อยู่อาศัยที่ดีที่สุดในราคาที่เหมาะสม</p>
        <h2>เจ้าของและทีมงานของเรา</h2>
        <p>เราเป็นทีมงานที่มีประสบการณ์และความเชี่ยวชาญในการให้บริการบ้านเช่า โดยมุ่งเน้นไปที่การตอบสนองความต้องการของลูกค้าให้ดีที่สุด</p>
    </section>
{% endblock %}
